<?xml version="1.0"?>
<config>
  <modules>
    <Eloom_Bling>
      <version>##eloom.versao##</version>
    </Eloom_Bling>
  </modules>

  <!--
  <frontend>
  <routers>
    <eloombling>
      <use>standard</use>
      <args>
        <module>Eloom_Bling</module>
        <frontName>eloombling</frontName>
      </args>
    </eloombling>
  </routers>
  </frontend>
  -->

  <adminhtml>
    <!--
    <rewrite> 
        <sales_order_view>Eloom_Bling_Block_Adminhtml_Sales_Order_View</sales_order_view>
    </rewrite>
    -->
    <rewrite>
      <sales_order_grid>Eloom_Bling_Block_Adminhtml_Sales_Order_Grid</sales_order_grid>
    </rewrite>
    <events>
      <core_block_abstract_to_html_before>
        <observers>
          <eloom_bling_core_block_abstract_prepare_layout_before>
            <class>eloom_bling/observer</class>
            <method>addNfeMassAction</method>
          </eloom_bling_core_block_abstract_prepare_layout_before>
        </observers>
      </core_block_abstract_to_html_before>
    </events>
    <layout>
      <updates>
        <eloom_bling>
          <file>eloom/bling.xml</file>
        </eloom_bling>
      </updates>
    </layout>
    <translate>
      <modules>
        <eloom_bling>
          <files>
            <default>Eloom_Bling.csv</default>
          </files>
        </eloom_bling>
      </modules>
    </translate>
  </adminhtml>
    
  <admin>
    <routers>
      <eloom_bling>
        <use>admin</use>
        <args>
          <module>Eloom_Bling</module>
          <frontName>eloom_bling</frontName>
        </args>
      </eloom_bling>
    </routers>
  </admin>
    
  <global>
    <models>
      <eloom_bling>
        <class>Eloom_Bling_Model</class>
        <resourceModel>eloom_bling_resource</resourceModel>
      </eloom_bling>
      <eloom_bling_resource>
        <class>Eloom_Bling_Model_Resource</class>
        <entities>
          <nfe>
            <table>eloom_bling_nfe</table>
          </nfe>
        </entities>    
      </eloom_bling_resource>
    </models>
    <resources>
      <eloom_bling_setup>
        <setup>
          <module>Eloom_Bling</module>
          <class>Eloom_Bling_Model_Resource_Setup</class>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </eloom_bling_setup>
      <eloom_bling_write>
        <connection>
          <use>core_write</use>
        </connection>
      </eloom_bling_write>
      <eloom_bling_read>
        <connection>
          <use>core_read</use>
        </connection>
      </eloom_bling_read>
    </resources>
    <helpers>
      <eloom_bling>
        <class>Eloom_Bling_Helper</class>
      </eloom_bling>
    </helpers>
    <blocks>
      <eloom_bling>
        <class>Eloom_Bling_Block</class>
      </eloom_bling>
    </blocks>
  </global>
    
  <crontab>
    <jobs>
      <eloom_bling_nfe_access_key>
        <schedule>
          <cron_expr>##cron_expr_sondaNfe##</cron_expr>
        </schedule>
        <run>
          <model>eloom_bling/cron::proccessNfe</model>
        </run>
      </eloom_bling_nfe_access_key>
      <eloom_bling_trackings>
        <schedule>
          <cron_expr>##cron_expr_sondaTrackings##</cron_expr>
        </schedule>
        <run>
          <model>eloom_bling/cron::proccessTrackings</model>
        </run>
      </eloom_bling_trackings>
    </jobs>
  </crontab>

  <default>
    <eloom_bling>
      <general>
        <active>1</active>
        <product_id>sku</product_id>
      </general>
      <nfe_out>
        <allows_status>processing</allows_status>
        <serie>001</serie>
        <generate>1</generate>
        <send>1</send>
        <comment>chave de acesso: %s</comment>
      </nfe_out>
      <tracking>
        <timer>6</timer>
      </tracking>
    </eloom_bling>
  </default>
</config>